{{#html}}
  <head>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  {{$main}}
    <div class="wrapper">
      <div class="extra-space"></div>

      {{#events}}
        <div class="event-schedule">
          <ul class="event-list">
            {{#events}}
              <li class="event-item">
                <div class="event-date">{{date}}</div>
                <div class="event-details">
                  <strong>{{venue}}</strong><br>
                  <span>{{location}}</span>
                </div>
                <div class="event-actions">
                  <a href="{{rsvp_link}}" class="btn rsvp-btn">RSVP</a>
                  <a href="{{tickets_link}}" class="btn ticket-btn">TICKETS</a>
                </div>
              </li>
            {{/events}}
          </ul>
        </div>
      {{/events}}

      {{& page.contents}}
    </div>
  {{/main}}
{{/html}}
