{{<html}}
{{$main}}
<section id="blog">

    {{#empty(context.posts)}}
    {{/empty(context.posts)}}
    {{^empty(context.posts)}}
    <div class="grid grid-321">
    {{#context.posts}}
        {{> partials.post}}
    {{/context.posts}}
    </div>
    {{/empty(context.posts)}}
    
    {{#empty(context.pagination)}}
    {{/empty(context.pagination)}}
    {{^empty(context.pagination)}}
    <div class="pagination">
    {{#context.pagination}}
        {{> partials.pagination}}
    {{/context.pagination}}
    </div>
    {{/empty(context.pagination)}}
</section>

{{/main}}
{{/html}}
